table{
    table-layout: fixed;
    width: 450px;
    height: 250px;
    border-collapse: collapse;
    border: none;
    border-spacing: 0;
  
}

th, td {
    width: 16px;
    height: 20px;
    text-align:center;
    border: 0px;
    margin: 0px;
    padding: 0px; 
}
